<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button [defaultHref]="getPreviousUrl()"></ion-back-button>
        </ion-buttons>
        <ion-title>Create order</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div>
        <form [formGroup]="form">
            <ion-list lines="full" class="ion-no-margin ion-no-padding">

                <h1 class="creation-form-header">Order Info</h1>
                <ion-item>
                    <ion-label class="label-text" position="stacked">Title
                        <ion-text color="danger">*</ion-text>
                    </ion-label>
                    <ion-input type="text" formControlName="title" clearInput></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label class="label-text" position="stacked">Description
                        <ion-text color="danger">*</ion-text>
                    </ion-label>
                    <ion-textarea formControlName="description" rows="4"></ion-textarea>
                </ion-item>

                <ion-item>
                    <ion-label class="label-text" position="stacked">Initial Payment ($)
                        <ion-text color="danger">*</ion-text>
                    </ion-label>
                    <ion-input type="number" formControlName="initialPayment" clearInput></ion-input>
                </ion-item>

                <h1 class="creation-form-header ion-padding-top">Deadline Date & Time</h1>
                <ion-item>
                    <ion-label class="label-text">Date
                        <ion-text color="danger">*</ion-text>
                    </ion-label>
                    <ion-datetime [min]="minDate"
                                  [max]="maxDate"
                                  formControlName="deadlineDate"
                                  placeholder="Select Date"></ion-datetime>
                </ion-item>

                <ion-item class="ion-margin-top">
                    <ion-label class="label-text">Time
                        <ion-text color="danger">*</ion-text>
                    </ion-label>
                    <ion-datetime placeholder="Select time"
                                  displayFormat="h:mm A"
                                  formControlName="deadlineTime"
                                  pickerFormat="h:mm A"></ion-datetime>
                </ion-item>
            </ion-list>

            <div class="next-action ion-padding ion-justify-content-end">
                <ion-button (click)="processForm()" expand="clear" type="submit" class="ion-no-margin">
                    Next
                    <ion-icon class="arrow-icon" name="arrow-forward"></ion-icon>
                </ion-button>
            </div>
        </form>
    </div>
</ion-content>
