.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3em;
  margin-top: 3em;
}

.login-field-label {
  font-size: 1rem;
  font-weight: 600;
}

.login-button {
  margin-top: 1em;
}
