<ion-header *ngIf="!isLoading">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button [defaultHref]="getPreviousUrl()"></ion-back-button>
        </ion-buttons>
        <ion-title>Order #{{ order.id }}</ion-title>
    </ion-toolbar>

    <ion-segment style="padding: 0.5em;" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="info" checked layout="icon-start">
            <ion-icon name="information-circle-outline"></ion-icon>
            <ion-label>Info</ion-label>
        </ion-segment-button>
        <ion-segment-button value="map" layout="icon-start">
            <ion-icon name="map"></ion-icon>
            <ion-label>Map</ion-label>
        </ion-segment-button>
    </ion-segment>
</ion-header>

<ion-content>
    <ion-list *ngIf="!isLoading && !isMapView" class="order-info">
        <h1>{{ order.title }}</h1>

        <ion-item class="ion-no-padding">
            <ion-label>Payment</ion-label>
            <ion-note slot="end" color="primary">
                {{ order.initialPayment + '$' }}
            </ion-note>
        </ion-item>

        <ion-item class="ion-no-padding">
            <ion-label>Deadline date</ion-label>
            <ion-note slot="end" color="primary">
                {{ getFormattedDate(order.deadlineDate) }}
            </ion-note>
        </ion-item>

        <p>{{ order.description }}</p>
    </ion-list>

    <div *ngIf="!isLoading && isProcessOrderButtonVisible()"
         (click)="processOrder()"
         class="process-order-action">
        <ion-button expand="full" color="success">Take order</ion-button>
    </div>

    <div *ngIf="isLoading" class="order-loading-spinner">
        <ion-spinner></ion-spinner>
    </div>

    <div *ngIf="isMapView" #map class="map"></div>
</ion-content>
