<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button [tab]="homeRouting.MY_PROFILE">
            <ion-icon name="person"></ion-icon>
            <ion-label>My profile</ion-label>
        </ion-tab-button>

        <ion-tab-button [tab]="homeRouting.MY_ORDERS">
            <ion-icon name="basket"></ion-icon>
            <ion-label>Orders</ion-label>
        </ion-tab-button>

        <ion-tab-button [tab]="homeRouting.SEARCH">
            <ion-icon name="search"></ion-icon>
            <ion-label>Search</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
