<ion-header>
    <ion-toolbar>
        <div class="page-header">
            <h1>Queue</h1>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div *ngIf="orders && orders.length">
        <div *ngFor="let order of orders">
            <ion-card (click)="redirectToOrderPage(order.id)">
                <ion-card-header>
                    <ion-card-title>{{order.title}}</ion-card-title>
                    <ion-card-subtitle>{{ 'Order #' + order.id}}</ion-card-subtitle>
                </ion-card-header>

                <ion-card-content class="text-truncate">{{order.description}}</ion-card-content>
            </ion-card>
        </div>
    </div>

    <div *ngIf="orders && !orders.length">
        No orders in queue
    </div>

    <div *ngIf="!orders">
        <div *ngFor="let _ of [].constructor(3)">
            <ion-card>
                <ion-card-header>
                    <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                </ion-card-header>

                <ion-card-content>
                    <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width: 85%"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                </ion-card-content>
            </ion-card>
        </div>
    </div>
</ion-content>
