<ion-header>
    <ion-toolbar>
        <div class="page-header">
            <h1>Queue</h1>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="orders && orders.length">
        <div class="order-card" *ngFor="let order of orders">
            <ion-card>
                <ion-card-header>
                    <div (click)="redirectToOrderPage(order.id)">
                        <ion-card-title>{{order.title}}</ion-card-title>
                        <ion-card-subtitle>{{ 'Order #' + order.id}}</ion-card-subtitle>
                    </div>
                    <div class="card-content">
                        <ion-label>Tracking</ion-label>
                        <ion-toggle color="success"
                                    (ionChange)="onOrderTrackingToggled($event, order.id)"></ion-toggle>
                    </div>
                </ion-card-header>
            </ion-card>
        </div>
    </div>

    <div *ngIf="orders && !orders.length">
        No orders in queue
    </div>

    <div *ngIf="!orders">
        <div *ngFor="let _ of [].constructor(3)">
            <ion-card disabled>
                <ion-card-header>
                    <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                </ion-card-header>

                <ion-card-content>
                    <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width: 85%"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                </ion-card-content>
            </ion-card>
        </div>
    </div>
</ion-content>
