<ion-header>
    <ion-toolbar>
        <div class="page-header">
            <h1>Search</h1>
        </div>
    </ion-toolbar>

    <ion-searchbar placeholder="Find order..."></ion-searchbar>
</ion-header>

<ion-content>
    <div *ngIf="isLoading" class="search-spinner">
        <ion-spinner></ion-spinner>
    </div>

    <div *ngIf="!isLoading">
        <ion-list *ngFor="let segment of segments">
            <ion-list-header class="segments-list-header">{{ segmentText[segment] }}</ion-list-header>

            <ion-card *ngFor="let order of getOrdersByGivenSegment(segment)">
                <ion-card-header>
                    <ion-card-subtitle class="card-segment-subtitle">
                        Order #{{order.id}}
                        <ion-badge class="card-segment-badge"
                                   [color]="getBadgeColorByOrderType(order.type)"></ion-badge>
                    </ion-card-subtitle>
                    <h3>{{ order.title }}</h3>
                    <p>{{ order.content }}</p>
                </ion-card-header>
            </ion-card>
        </ion-list>
    </div>
</ion-content>
