<ion-header>
    <ion-toolbar>
        <div class="page-header">
            <h1>Search</h1>
        </div>
    </ion-toolbar>

    <ion-searchbar placeholder="Find parking..."
                   debounce="400"
                   (ionChange)="onSearchInputChanged($event)"
    ></ion-searchbar>
</ion-header>

<ion-content>
    <div *ngIf="isLoading" class="search-spinner">
        <ion-spinner></ion-spinner>
    </div>

    <div *ngIf="!isLoading && currentUser.role === 'CUSTOMER' && searchedParkings.length">
        <div *ngFor="let parking of searchedParkings">
            <ion-card (click)="redirectToOrderPage(parking.id)">
                <ion-card-header>
                    <ion-card-subtitle class="card-segment-subtitle">
                        Parking #{{parking.id}}
                        <ion-badge class="card-segment-badge"
                                   [color]="getOrderStatusBadgeColor(parking.id)"></ion-badge>
                    </ion-card-subtitle>
                    <h3>{{ parking.title }}</h3>
                    <p>{{ parking.description }}</p>
                </ion-card-header>
            </ion-card>
        </div>
    </div>

    <div *ngIf="!isLoading">
        <div *ngFor="let parking of searchedParkings">
            <ion-card (click)="redirectToOrderPage(parking.id)">
                <ion-card-header>
                    <ion-card-subtitle class="card-segment-subtitle">
                        Parking #{{parking.id}}
                    </ion-card-subtitle>
                    <h3>{{ parking.title }}</h3>
                    <p class="text-truncate">{{ parking.description }}</p>
                </ion-card-header>
            </ion-card>
        </div>
    </div>
</ion-content>
