<ion-header>
    <ion-toolbar>
        <div class="page-header">
            <h1>My Parkings</h1>
            <div *ngIf="selectedSegment === segments.PLANNED_ORDERS">
                <ion-chip *ngIf="!isSelectionActive" (click)="changeSelectionStatus()">
                    <ion-icon name="radio-button-on"></ion-icon>
                    <ion-label>Select</ion-label>
                </ion-chip>

                <ion-chip *ngIf="isSelectionActive" (click)="changeSelectionStatus()">
                    <ion-icon name="close-circle"></ion-icon>
                    <ion-label>Cancel</ion-label>
                </ion-chip>
            </div>
        </div>
    </ion-toolbar>

<!--    <ion-segment style="padding: 0.5em;" (ionChange)="segmentChanged($event)" [disabled]="isSelectionActive">-->
<!--        <ion-segment-button [value]="segments.PLANNED_ORDERS" checked>-->
<!--            <ion-label>Planned</ion-label>-->
<!--        </ion-segment-button>-->
<!--        <ion-segment-button [value]="segments.ACTIVE_ORDERS">-->
<!--            <ion-label>Active</ion-label>-->
<!--        </ion-segment-button>-->
<!--        <ion-segment-button [value]="segments.ARCHIVED_ORDERS">-->
<!--            <ion-label>Archived</ion-label>-->
<!--        </ion-segment-button>-->
<!--    </ion-segment>-->
</ion-header>

<ion-content>
    <div class="page-content">
        <div *ngIf="orders && orders.length">
            <div class="order-card" *ngFor="let order of orders">
                <ion-card [ngClass]="getParkingCardClass(order.id)"
                          (click)="isSelectionActive ? selectParking(order.id) : redirectToParkingPage(order.id)">
                    <ion-card-header>
                        <ion-card-subtitle>{{'Order #' + order.id}}</ion-card-subtitle>
                        <ion-card-title>{{order.title}}</ion-card-title>
                    </ion-card-header>

                    <ion-card-content class="text-truncate">{{order.description}}</ion-card-content>
                </ion-card>

                <ion-checkbox *ngIf="isSelectionActive"
                              [checked]="isParkingSelected(order.id)"
                              class="selection-checkbox"></ion-checkbox>
            </div>
        </div>

        <div *ngIf="orders && !orders.length" class="no-data-text">
            No parking found
        </div>

        <div *ngIf="!orders">
            <div *ngFor="let _ of [].constructor(3)">
                <ion-card [disabled]="isSelectionActive">
                    <ion-card-header>
                        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                    </ion-card-header>

                    <ion-card-content>
                        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                        <ion-skeleton-text animated style="width: 85%"></ion-skeleton-text>
                        <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                    </ion-card-content>
                </ion-card>
            </div>
        </div>
    </div>

    <ion-fab *ngIf="isAddParkingBtnVisible()" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="redirectToOrderCreationPage()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
