<ion-header *ngIf="!isLoading">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button [defaultHref]="getPreviousUrl()"></ion-back-button>
        </ion-buttons>
        <ion-title>Parking #{{ parking.id }}</ion-title>
    </ion-toolbar>

    <ion-segment style="padding: 0.5em;" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="info" checked layout="icon-start">
            <ion-icon name="information-circle-outline"></ion-icon>
            <ion-label>Info</ion-label>
        </ion-segment-button>
        <ion-segment-button value="map" layout="icon-start">
            <ion-icon name="map"></ion-icon>
            <ion-label>Map</ion-label>
        </ion-segment-button>
    </ion-segment>
</ion-header>

<ion-content>
    <ion-list *ngIf="!isLoading && !isMapView" class="order-info">
        <h1>{{ parking.title }}</h1>

        <ion-item class="ion-no-padding">
            <ion-label>Price per hour</ion-label>
            <ion-note slot="end" color="primary">
                {{ '$' + parking.pricePerHour }}
            </ion-note>
        </ion-item>

        <ion-item class="ion-no-padding">
            <ion-label>Free places</ion-label>
            <ion-note slot="end" color="primary">
                {{ parking.freePlaces + "/" + parking.capacity }}
            </ion-note>
        </ion-item>

        <p>{{ parking.description }}</p>
    </ion-list>

    <div *ngIf="!isLoading"
         (click)="processParking()"
         class="process-parking-action">
        <ion-button expand="full" color="success">Park/Unpark</ion-button>
    </div>

    <div *ngIf="isLoading" class="order-loading-spinner">
        <ion-spinner></ion-spinner>
    </div>

    <div *ngIf="isMapView" #map class="map"></div>
</ion-content>
