<ion-header>
    <ion-toolbar>
        <div class="page-header">
            <h1>Profile</h1>
            <span class="logout-button" (click)="logout()">Logout</span>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col class="profile-col" size="4">
                <ion-avatar class="user-avatar">
                    <img src="../../../../assets/avatar.png">
                </ion-avatar>
            </ion-col>

            <ion-col>
                <div class="profile-info">
                    <h1>{{ user.firstName + ' ' + user.lastName }}</h1>
                    <h4>{{ user.email }}</h4>
                </div>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="user.parking">
                <ion-button disabled="true" expand="full" color="danger">Parked</ion-button>
        </ion-row>
        <!--        <ion-row>-->
        <!--            <ion-card (click)="redirectToParkingPage(user.parking.id)">-->
        <!--                <ion-card-header>-->
        <!--                    <ion-card-subtitle class="card-segment-subtitle">-->
        <!--                        Parking #{{user.parking.id}}-->
        <!--                        <ion-badge class="card-segment-badge"-->
        <!--                                   [color]="getParkingStatusBadgeColor(user.parking.id)"></ion-badge>-->
        <!--                    </ion-card-subtitle>-->
        <!--                    <h3>{{ user.parking.title }}</h3>-->
        <!--                    <p>{{ user.parking.description }}</p>-->
        <!--                </ion-card-header>-->
        <!--            </ion-card>-->
        <!--        </ion-row>-->
    </ion-grid>
</ion-content>
