<ion-header>
    <ion-toolbar>
        <div class="page-header">
            <h1>My Profile</h1>
            <span class="logout-button" (click)="logout()">Logout</span>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col class="profile-col" size="4">
                <ion-avatar class="user-avatar">
                    <img src="../../../../assets/avatar.png">
                </ion-avatar>
            </ion-col>

            <ion-col>
                <div class="profile-info">
                    <h1>{{ user.firstName + ' ' + user.lastName }}</h1>
                    <h4>{{ user.email }}</h4>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
